.App {
  text-align: center;
}

.skeleton-image {
  height: 40vmin;
}

.skeleton-image:hover{
  cursor: pointer;
}

.preview-image {
  max-width: 100%;
  max-height: 300px; 
  object-fit: contain; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 0, 0, 0.891);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 600px;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
}

.title-section {
  width: 100%; 
  text-align: center; 
  padding-top: 40px;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
}